.header {
  background-color: darkblue;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 300px;
  height: 30px;
  font-size: 16px;
  padding-left: 40px;
  border: none;
  outline: none;
  border-radius: 4px;
}
.form {
  position: relative;
}
.button {
  position: absolute;
  left: 5px;
  top: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: gray;
  z-index: 1;
}
