.imageCard {
  overflow: hidden;
  height: 250px;
  width: 100%;
  cursor: zoom-in;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: contain;
}

.imageCard:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.imageCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
